<header id="header" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
  <i id="btn-open-sidebar" class="fa fa-lg fa-bars"></i>
  <div class="header-title">
    <a class="header-title-link" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
  </div>
  {{ with .Site.Params.header.rightLink }}
    <div class="header-right-picture">
    {{ if not $.Site.Params.header.rightLink.icon }}
        <img class="header-picture" src="{{ absURL `images/logo.png` }}" alt="{{ i18n "global.author_picture" }}" />
    {{ end }}
    </div>
  {{ end }}
</header>
